body {
  background-color: lightgray;
  font-size: 120%;
  color: #668;
  font-family: sans-serif;
}
#maincontent {
  text-align: center;
}
#navbar {
  text-align: center;
  float: left;
  width: 200px;
}

#navbar a {
  background-color: #222;
  font-size: 100%;
  font-weight: 400;
  color: white;
  padding: 8px 15px;
  text-align: center;
  display: block;
  border-radius: 0;
}

#navbar a:link, #navbar a:visited {
  text-decoration: none;
}

#navbar a:hover, #navbar a:active {
  background-color: #666;
}
