body {background-color: lightblue}
#maincontent {
    text-align: center;
}
a#navbar:link, a#navbar:visited {
    background-color: grey;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a#navbar:hover, a#navbar:active {
    background-color: green;
}
